body{
    display: flex; 
    justify-content: center;
    background-color: black;
}
.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.perfilImg{
    border: solid white 5px;
    border-radius: 100px;
}

h1{
    color: white;
    margin-top: 1rem;
}

p{
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
}


.content{
    display: flex;  
    flex-direction: column;
    align-items: center;
   
  
}


.linksE{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;

   
}

.linksE a{
    width: 22rem;
    padding: 1rem;
    background-color: white;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

a span{
 margin-right: 1.5rem;
 display: flex;
 
}