@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --cor-primaria: #242331;
    --cor-secundaria:  #7B68EE;
    --cor-terciaria:  #F6F6F6;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

#nome{
    color: rgb(33, 120, 155);
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    font-size: 1.3rem;


   
   
    
  }
  


header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    align-items: center;
    
}

.logo {
    display: flex;
    align-items: center;
   
}


.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;

   
  
  
}


.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.curriculo-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.curriculo-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 930px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .curriculo-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .curriculo-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .curriculo-button button {
        width: 100%;
    }
    .open {
        display: block;
    }

    #nome{
        display: flex;
        position: relative;
        
      }
}


body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
    
}


footer {
    padding: 20px;
    text-align: center;
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
}

main{
    padding: 5% 10%;  
    flex: 1; 
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


